<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app needs to send Apple Events to perform paste operations.</string>
	<key>Privacy - Accessibility Usage Description</key>
	<string>This app needs accessibility permissions to simulate keyboard shortcuts for paste operations.</string>
</dict>
</plist>
